$color: #2b2b63;

.text-input {
    margin-top: 30px !important;
    border: 2px solid $color;
    background-color: white;
    color: $color;
    
    .icon {
        margin-top: 7px;
        height: 20px;
        color: $color;
        width: min-content;
    }
    .icon_eye {
        width: fit-content;
        cursor: pointer;
    }
    input {
        width: 64%;
        outline: none !important;
        padding: 5px;
        border: none;
        background-color: white;
        @media only screen and (max-width: 269px) {
            width: 40%;
        }
    }
}

.error {
    text-align: left;
    height: 10px;
    font-size: 1rem;
    margin: 0px 5px;
    color: red;
}
