.my-sidebar {
    width: 200px;
    button {
        font-size: large;
        color: black;
    }
}
.my-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    color: red;
}
