.container_signin {
    background: #f8f9fa url('../../assets/images/danangcentre.jpg') repeat center !important ;
    color: #2b2b63;
    display: flex;
    justify-content: center;
    .signin {
        display: flex;
        @media only screen and (max-width: 739px) {
            display: block;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        @media only screen and (max-width: 200px) {
            text-align: center;
            padding: 0.5rem;
            width: 110%;
        }
        form {
            opacity: 0.9;
            width: 100%;
            padding: 3.5rem 4.5rem;
            text-align: center;
            background-color: #fff;
            @media only screen and (max-width: 415px) {
                text-align: center;
                padding: 1rem;
            }
            @media only screen and (max-width: 200px) {
                text-align: center;
                padding: 0.5rem;
                width: 110%;
            }
           
            .water_mark {
                @keyframes example {
                    0%   {color: white; left: 10%; top: 90%; opacity: 0.1;}
                    10%   {color: red; left: 10%; top: 80%; opacity: 0.15;}
                    20%   {color: green; left: 10%; top: 70%; opacity: 0.2;}
                    30%   {color: black; left: 10%; top: 60%; opacity: 0.25;}
                    40%   {color: teal; left: 10%; top: 50%; opacity: 0.3;}
                    50%   {color: yellow; left: 10%; top: 40%; opacity: 0.35;}
                    60%   {color: blue; left: 10%; top: 30%; opacity: 0.3;}
                    70%  {color: orange; left: 10%; top: 20%; opacity: 0.25;}
                    80%  {color: green; left: 10%; top: 10%; opacity: 0.2;}                
                    90%  {color: red; left: 10%; top: 0%; opacity: 0.15;}                
                    100% {color: cornflowerblue; left: 10%; top: -10%; opacity: 0.1;}
                };
                animation-name: example;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                opacity: 0.1;
                background-color: none;
                font-size: 60px;
                color: white;
                position: absolute;
                z-index: -11;
                cursor: default;
                user-select: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                right: 10%;               
                transform: rotate(27deg);
            }
            .form_title {
                font-size: 1.8rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #fff;
                opacity: 1;
                background-color: #2b2b63;
                border: 1px solid #2b2b63;
                font-weight: 600;
                text-align: center;
                padding: 0.4rem 5rem;
                
                @media only screen and (max-width: 414px) {
                    display: block;
                    text-align: center;
                    font-size: 1.4rem;
                    margin: 20px 0px;
                    padding: 0.3rem 1rem;
                }
            }
            .login_icon{
                color: blue;
                font-weight: bold;
                text-decoration: none;
                &:hover{
                    color: red;
                    text-decoration: underline;
                }
            }

            .form_error {
                color: red;
                font-size: 1rem;
                font-weight: bold;
            }
            input[type='submit'] {
                background: #2b2b63;
                color: #fff;
                border: none;
                width: fit-content;
                border-radius: 10px;
                margin-top: 10px;
                padding: 0.3rem 1rem;
                font-size: 1.3rem;
            }
            input[type='submit']:hover {
                background-color: rgba($color: #4040be, $alpha: 0.7);
            }
            .recaptcha{
                margin-left: -12px;
                margin-top: 15px;
            }

            .login_footer{
                margin-bottom: -40px;
                text-decoration: underline;
            }

            .login_footer:hover{
                color: red;
            }

            .login_icon span:first-child{
                color: red;
            }

        }
    }
}

.hide{
    display: none;
}

.form_wrapper{
    margin-top: 20px;
}